<h1>Listing graduates</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Cohort</th>
      <th>Current job</th>
      <th>Bio</th>
      <th>News</th>
      <th>Website</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduates.each do |graduate| %>
      <tr>
        <td><%= graduate.first_name %></td>
        <td><%= graduate.last_name %></td>
        <td><%= graduate.cohort %></td>
        <td><%= graduate.current_job %></td>
        <td><%= graduate.bio %></td>
        <td><%= graduate.news %></td>
        <td><%= graduate.website %></td>
        <td><%= graduate.picture %></td>
        <td><%= link_to 'Show', graduate %></td>
        <td><%= link_to 'Edit', edit_graduate_path(graduate) %></td>
        <td><%= link_to 'Destroy', graduate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graduate', new_graduate_path %>
